.body {
    padding: 0;
    margin: 0;
}

.first_container {
    width: 1920px;
    height: 464px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    background: linear-gradient(147.17deg, #D251FF 0%, #FF7A00 100%);
}

.intro_logo {
    /* Group 84 */
    position: absolute;
    width: 1097px;
    height: 304px;
    left: 417px;
    top: 80px;
}

.text_UP {
    /* Умный домофон */
    position: absolute;
    width: 566px;
    height: 86px;
    left: calc(50% - 566px/2 - 260px);
    top: 50px;
    bottom: 253px;

    font-family: 'Houschka Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    /* or 86px */

    /* white */
    color: #FFFFFF;

    /* border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.text_DOWN {
    /* Поможет сделать .... 100 000 */
    position: absolute;
    width: 566px;
    height: 112px;
    left: calc(50% - 566px/2 - 260px);
    top: 150px;

    font-family: 'Houschka Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    /* or 48px */

    /* white */
    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.two_container {
    position: absolute;
    width: 1920px;
    /* height: 1337px; */
    left: 0px;
    top: 464px;

    /* grey blue */
    background: #F5F9FE;
    border: solid;
    border-color: black;
}


.about {
    margin-top: 80px;
    margin-left: 453px;
    margin-right: 453px;
    margin-bottom: 1104px;
    width: 1024px;
    height: 153px;
    top: 80px;
    left: 453px;
    gap: 0px;
    opacity: 0px;
}

.about>.one_line {
/* Возможности умных функций в мобильном приложении «Мой POWERNET» */

    font-family: 'Houschka Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 150%;
    /* or 108px */
    text-align: center;
/* 
    /* Gradients/grad_01-90 */
    background: linear-gradient(90deg, #FBC300 0%, #EA62E4 98.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.span {
    font-family: Houschka Pro;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.two_container>.carousel>.row>.col-10>.container>.row>.col {
    margin-top: 313px;
    border: solid;
    border-color: black;

}

.carousel>.row>container>.row>.col {
    /* Frame 902 */
/*     
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;

    position: absolute;
    width: 1010px;
    height: 671px;
    left: 0px;
    top: 0px; */
    
}


.arrow_left {
    margin-top: 328px;
    margin-bottom: 316px;
}


.arrow_right {
    margin-top: 328px;
    margin-bottom: 316px;
}
