.body {
    padding: 0;
    margin: 0;
}

.first_container {
    width: 1920px;
    height: 464px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    background: linear-gradient(147.17deg, #D251FF 0%, #FF7A00 100%);
}

.intro_logo {
    /* Group 84 */
    position: absolute;
    width: 1097px;
    height: 304px;
    left: 417px;
    top: 80px;
}

.text_UP {
    /* Умный домофон */
    position: absolute;
    width: 566px;
    height: 86px;
    left: calc(50% - 566px/2 - 260px);
    top: 50px;
    bottom: 253px;

    font-family: 'Houschka Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    /* or 86px */

    /* white */
    color: #FFFFFF;

    /* border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.text_DOWN {
    /* Поможет сделать .... 100 000 */
    position: absolute;
    width: 566px;
    height: 112px;
    left: calc(50% - 566px/2 - 260px);
    top: 150px;

    font-family: 'Houschka Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    /* or 48px */

    /* white */
    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.two_container {
    position: absolute;
    width: 1920px;
    height: 1337px;
    left: 0px;
    top: 464px;

    /* grey blue */
    background: #F5F9FE;
}

.about{
    width: 1024px;
    height: 153px;
    top: 80px;
    left: 453px;
    gap: 0px;
    opacity: 0px;


/* Возможности умных функций в мобильном приложении «Мой POWERNET» */
    position: absolute;
    width: 1024px;
    height: 153px;
    left: calc(50% - 1024px/2 + 5px);
    top: 80px;

    font-family: 'Houschka Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 150%;
    /* or 108px */
    text-align: center;
/* 
    /* Gradients/grad_01-90 */
    background: linear-gradient(90deg, #FBC300 0%, #EA62E4 98.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

span {
    font-family: Houschka Pro;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}




.activ_button {
position: absolute;
width: 506.5px;
height: 64px;
left: calc(50% - 506.5px/2 - 1.25px);
top: 1193px;

/* btn-call */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 24px;
gap: 8px;

position: absolute;
width: 258px;
height: 64px;
left: calc(50% - 258px/2 - 125.5px);
top: 1193px;

/* white */
background: #FFFFFF;
/* shadow */
box-shadow: 0px 8px 16px rgba(11, 15, 98, 0.08);
border-radius: 32px;

}



